@model IEnumerable<ingInventario.Models.Marca>
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Gestionar Marcas</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h2>Lista de marcas</h2>
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered" id="tabla">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id_marca</td>
                                <td>@item.nombre</td>
                                <td>@item.descripcion</td>
                                <td>
                                    <button class="btn btn-warning" data-toggle="modal"
                                            data-url="@Url.Action("Edit","Marcas",new { id = item.id_marca })">
                                        Editar
                                    </button>
                                    <input type="button" class="btn btn-danger" data-toggle="modal"
                                           data-url="@Url.Action("Delete","Marcas", new { id = item.id_marca })" value="Eliminar" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalEdit">
    <!-- EN ESTA PARTE SE CARGARÁ LA VISTA PARCIAL-->
</div>
<div class="modal fade" id="modalDelete">
    <!-- EN ESTA PARTE SE CARGARÁ LA VISTA PARCIAL DEL ELIMINAR-->
</div>
<link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script>
    //# accedo a los elementos por id,
    //. accede a los elementos por la clase
    $('.btn-warning').click(function () {
        let url = $(this).data('url');//se obtiene la url a la cual acceder y se accina a la variable url
        //get /Marca/Edit/1
        $.get(url, function (data) {
            $('#modalEdit').html(data);
            $('#modalEdit').modal('show');
        });
    });
    $('#tabla').DataTable({
        pageLength: 25,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'excel', title: 'Productos', exportOptions: { modifier: { page: 'all', search: 'none' } } },
            {
                extend: 'pdf', title: 'Productos', exportOptions: { modifier: { page: 'all', search: 'none' } }
            },

            {
                extend: 'print',
                text: 'Imprimir',
                messageTop: 'Comercial Ruiz',
                customize: function (win) {
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
            }
        ],
        order: [[1, "desc"]],
        language:
        {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sEmptyTable: "Ningún dato disponible en esta tabla",
            sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
            sInfoPostFix: "",
            sSearch: "Buscar:",
            sUrl: "",
            sInfoThousands: ",",
            sLoadingRecords: "Cargando...",
            oPaginate: {
                sFirst: "Primero",
                sLast: "Último",
                sNext: "Siguiente",
                sPrevious: "Anterior"
            },
            oAria: {
                sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                sSortDescending: ": Activar para ordenar la columna de manera descendente"
            }
        }
    });

    //se accede a la clase del botón Eliminar
    $('.btn-danger').click(function () {
        let url = $(this).data('url');
        $.get(url, function (data) {
            $('#modalDelete').html(data);
            $('#modalDelete').modal('show');
        });
    });

</script>
