@model ingInventario.Models.Producto

<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Detalle Producto</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <input type="hidden" id="id_producto" value="@Model.id_producto" />
            <div class="form-group row">
                <label class="col-2 text-right">Marca:</label>
                <div class="col-10">
                    <!--Helper razor pára hidden-->
                    @Html.HiddenFor(m => m.id_marca)
                    <input type="text" name="marca" id="marca" value="@Model.Marca.nombre" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Categoría:</label>
                <div class="col-10">
                    @Html.HiddenFor(m => m.id_categoria)
                    <input type="text" name="categoria" id="categoria" value="@Model.Categoria.nombre" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Proveedor:</label>
                <div class="col-10">
                    @Html.DropDownList("proveedor", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Nombre:</label>
                <div class="col-10">
                    <input type="text" name="nombre" id="nombre" value="@Model.nombre" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Código:</label>
                <div class="col-10">
                    <input type="text" name="codigo" id="codigo" value="@Model.codigo" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Cantidad:</label>
                <div class="col-10">
                    <input type="number" name="cantidad" id="cantidad" value="@Model.cantidad" class="form-control solonumeros" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Precio:</label>
                <div class="col-10">
                    <input type="text" name="precio" id="precio" value="@Model.precio" class="form-control solonumeros" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 text-right">Comentario:</label>
                <div class="col-10">
                    <!--Helper textarea para mostrar el valor en edit-->
                    @Html.TextAreaFor(x => x.comentario, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <input type="button" value="Editar" class="btn btn-primary" id="editar" />
        </div>
    </div>
</div>
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $('#editar').click(function () {
        let error = '';
        if (!$('#proveedor').val())
            error += 'Debe seleccionar proveedor \n';
        if ($('#nombre').val().trim() === '')
            error += 'Debe ingresar nombre \n';
        if ($('#codigo').val().trim() === '')
            error += 'Debe ingresar código \n';
        if (error != '') {
            swal('Error validación', error, 'error');
        }
        else
        {
            const producto = {
                id_producto: $('#id_producto').val(),
                id_marca: $('#id_marca').val(),
                id_categoria: $('#id_categoria').val(),
                id_proveedor: $('#proveedor').val(),
                nombre: $('#nombre').val().trim(),
                codigo: $('#codigo').val(),
                cantidad: $('#cantidad').val(),
                precio: $('#precio').val(),
                comentario: $('#comentario').val().trim()
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit")',
                data: '{producto:' + JSON.stringify(producto) + '}',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (resp) {
                    if (resp == "") {
                        $('#modalEdit').modal('hide');
                        swal({
                            title: 'Modificar Producto',
                            text: 'Los datos se han guardado con éxito!',
                            icon: 'success',
                            button: 'Cerrar',
                            closeOnClickOutside: false,
                        }).then(function (isConfirm) {
                            if (isConfirm) {
                                cargarTabla();
                            }
                        });
                    }
                }
            });
        }
    });


</script>
