<div class="table-responsive">
    <table class="table table-striped table-bordered " id="tabla">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Producto</th>
                <th>Código</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Comentario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Marca.nombre</td>
                    <td>@item.Categoria.nombre</td>
                    <td>@item.Proveedor.nombre</td>
                    <td>@item.nombre</td>
                    <td>@item.codigo</td>
                    <td>@item.cantidad</td>
                    <td>@item.precio</td>
                    <td>@item.comentario</td>
                    <td style="white-space: nowrap">
                        <button class="btn btn-warning" data-toggle="modal"
                                data-url="@Url.Action("Edit","Productos",new { id = item.id_producto })">
                            <i class="fa fa-edit"></i>Editar
                        </button>
                        <button class="btn btn-danger" data-toggle="modal"
                                data-url="@Url.Action("Delete","Productos",new { id = item.id_producto })">
                            <i class="fa fa-trash"></i>Eliminar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/plugins/dataTables/datatables.min.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
<script>
    $('#tabla').DataTable({
        pageLength: 25,
        order: [[1, 'desc']],
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            {
                extend: 'excel', title: 'Productos',
                exportOptions: { columns: [0,1,2,3,4,5,6,7], modifier: { page: 'all', search: 'none' } }
            },
            {
                extend: 'pdf', title: 'Productos',
                exportOptions: { columns: [0, 1, 2, 3, 4, 5, 6, 7], modifier: { page: 'all', search: 'none' } }
            },
            {
                extend: 'print',
                text: 'Imprimir',
                messageTop: 'Sistema Inventario',
                customize: function (win) {
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
            }
        ],
        language:
        {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sEmptyTable: "Ningún dato disponible en esta tabla",
            sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
            sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
            sInfoPostFix: "",
            sSearch: "Buscar:",
            sUrl: "",
            sInfoThousands: ",",
            sLoadingRecords: "Cargando...",
            oPaginate: {
                sFirst: "Primero",
                sLast: "Último",
                sNext: "Siguiente",
                sPrevious: "Anterior"
            },
            oAria: {
                sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                sSortDescending: ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
    $('.btn-warning').click(function () {
        let url = $(this).data('url');
        $.get(url, function (result) {
            $('#modalEdit').html(result);
            $('#modalEdit').modal('show');
        });
    });
    $('.btn-danger').click(function () {
        let url = $(this).data('url');
        $.get(url, function (result) {
            $('#modalDelete').html(result);
            $('#modalDelete').modal('show');
        });
    });
</script>