<li>
    <a href="#"><i class="fa fa-magic"></i> <span class="nav-label">Marcas</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "Marcas")">Crear Marca</a></li>
        <li><a href="@Url.Action("Index", "Marcas")">Lista Marcas</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-address-book"></i><span class="nav-label">Categorías</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "Categorias")">Crear Categoría</a></li>
        <li><a href="@Url.Action("Index", "Categorias")">Lista Categorías</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-shopping-cart"></i><span class="nav-label">Productos</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("Create", "Productos")">Crear Producto</a></li>
        <li><a href="@Url.Action("Index","Productos")">Lista productos</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-list"></i><span class="nav-label">Orden Entrada</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="@Url.Action("OrdenEntrada", "OrdenEntradas")">Ingresar Orden</a></li>
    </ul>
</li>
